work/
app-flash_args
bootloader
build
bootloader-flash_args
bootloader-prefix
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
config
config.env
esp-idf
dependencies.lock
flash_args
flash_args.in
gdbinit
kconfigs.in
kconfigs_projbuild.in
Makefile
managed_components
partition_table
partition-table-flash_args
project_description.json
component_manager_run_counter.*
flash_*
flasher_args.json
ldgen_libraries
ldgen_libraries.in
sdkconfig.old
.bin_timestamp
project_elf_src_esp32.c
switch.bin
switch.elf
switch.map
x509_crt_bundle.S

